<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

<!--
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>useFileMappedBuffer</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
-->

	<servlet>
		<servlet-name>HerokuProvisionServlet</servlet-name>
		<servlet-class>rhinoit.heroku.servlet.ProvisionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HerokuProvisionServlet</servlet-name>
		<url-pattern>/heroku/resources</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HerokuProvisionServlet</servlet-name>
		<url-pattern>/heroku/resources/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>HerokuSecurityFilter</filter-name>
		<filter-class>rhinoit.heroku.servlet.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HerokuSecurityFilter</filter-name>
		<url-pattern>/heroku/*</url-pattern>
	</filter-mapping>


    <servlet>
        <servlet-name>RestitoryServlet</servlet-name>
        <servlet-class>rhinoit.restitory.servlet.RestitoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestitoryServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


<!--
	<filter>
		<filter-name>RhinoitFilter</filter-name>
		<filter-class>rhinoit.servlet.RhinoitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RhinoitFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->

</web-app>